<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>NSMQ APP</title>
    <link rel="stylesheet" href="../src/style/style.css">
  </head>
  <body>
    <div class="container">
      <main>
        <div class="submaincontainer">
          <div class="subcontainer">
            <div class="containerItem">
              <h2>NSMQ TESTS</h2>
              <button CLASS="btn starttests">START TESTS</button>
            </div>
            <div class="containerItem">
              <h2>NSMQ QUIZ BOARD</h2>
              <button class="btn startboard" windows.location="quizboard.html">USE QUIZ BOARD</button>
            </div>
          </div>
        </div>
      <main>
      <footer>
          <p>Designed by <a href="author.html"> Abradu Frimpong</a></p>
      </footer>
    </div>   
    <script src="../src/renderer/index.js"></script>
  </body>
</html>
